<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    {% for artigo in artigos %}
        <article>
            <h2> {{ artigo.artigo_titulo }} </h2>
            <h6>Data de Criação: {{ artigo.artigo_data_criacao }} Data de Modificação: {{ artigo.artigo_data_modificacao }}</h6>

            <p> {{ artigo.artigo_texto }} </p>
        </article>
    {% endfor %}
</body>
</html>