{% extends 'index.html' %}

{% block artigo %}

    <div class="col-md-8">
        <center>
            <h1>
                {{ artigos.artigo_titulo }}
            </h1>
        </center>
        <h6>
            Keywords: {{ artigos.artigo_keywords }}<br>
            Data de Criação: {{ artigos.artigo_data_criacao }} por {{ artigos.artigo_autor_nome }}
        </h6>
        
        <p>
            {{ artigos.artigo_resumo }}
        </p>
        <article>
            {{ artigos.artigo_texto }}
        </article>
    </div>

{% endblock artigo %}
